<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.9.4/css/academicons.min.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>{{ site.title }}</h1>
      <img src="Ninni-Zinober-2025.jpg" alt="Ninni Zinober" style="width:100%; border-radius:6px;" />
      <p>PhD Researcher<br>
      Department of Political and Social Sciences<br>
      European University Institute<br>
      <a href="mailto:ninni.zinober@eui.eu">ninni.zinober@eui.eu</a></p>
      <p style="font-size: 26px;">
        <a href="https://scholar.google.com/citations?user=lRDIQZkAAAAJ&hl=en&oi=ao" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>&nbsp;
        <a href="mailto:ninni.zinober@eui.eu" title="Email"><i class="fas fa-envelope"></i></a>&nbsp;
        <a href="https://www.linkedin.com/in/ninni-zinober-747655277/" title="LinkedIn"><i class="fab fa-linkedin"></i></a>&nbsp;
        <a href="Ninni-Zinober-CV-2026.pdf" title="CV"><i class="ai ai-cv"></i></a>
      </p>
    </header>
    <section>
      {{ content }}
    </section>
  </div>
</body>
</html>
